@using Inventory.Domain.Entities
@model Product

@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Edit" method="post">

    <!-- Hidden Id -->
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Sku" class="form-label"></label>
        <input asp-for="Sku" class="form-control" />
        <span asp-validation-for="Sku" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UnitPrice" class="form-label"></label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="QuantityOfStock" class="form-label"></label>
        <input asp-for="QuantityOfStock" class="form-control" />
        <span asp-validation-for="QuantityOfStock" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId"
                asp-items="ViewBag.Categories"
                class="form-control">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SupplierId" class="form-label">Supplier</label>
        <select asp-for="SupplierId"
                asp-items="ViewBag.Suppliers"
                class="form-control">
            <option value="">-- Select Supplier --</option>
        </select>
        <span asp-validation-for="SupplierId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}