@using Inventory.Application.ViewModels
@using Inventory.Domain.Entities;
@model CreateSalesOrderViewModel

@{
    ViewData["Title"] = "Create Sale";
}

<form asp-action="GetProuct">

    <input type="hidden" asp-for="ProductId" />

    <div>
        <label>Product</label>
        <input asp-for="ProductName" readonly />
    </div>

    <div>
        <label>Customer Name</label>
        <input asp-for="CustomerName" />
    </div>

    <div>
        <label>Address</label>
        <input asp-for="Address" />
    </div>
    <div>
        <label>UnitPrice</label>
        <input asp-for="UnitPrice" readonly />
    </div>

    <div>
        <label>Quantity</label>
        <input asp-for="Quantity" />
    </div>

    <button type="submit">Submit</button>

</form>